.container {
    text-align: center;
    margin-top: 50px;
}

.turntable {
    margin: 20px auto;
    position: relative;
}

.wheel {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    /* 使用 overflow: hidden 來隱藏超出邊界的部分 */
    border: 2px solid black;
}

.segment {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 50%, 0 0, 100% 0);
    border-radius: 50%;
    /* 確保每個部分都是圓形 */
}

.segment1 {
    background-color: #726da8;
    transform: rotate(0deg);
}

.segment2 {
    background-color: #7d8cc4;
    transform: rotate(90deg);
}

.segment3 {
    background-color: #a0d2db;
    transform: rotate(180deg);
}

.segment4 {
    background-color: #bee7e8;
    transform: rotate(270deg);
}

.pointer {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-top: 25px solid #E39EC1;
    z-index: 10;
    /* 確保指針在上面 */
}

.spin-button {
    margin-top: 20px;
}